$color:#f00;
#div1 {
  background: #000;
  color: #55a532;
}
/* 多行注释  */
//单行注释

#div1 {
  font-size: 16px;
 a{
    width: 10px;
    &:hover{
      color: #55a532;
    }
  }
}

#big {
  margin: auto;

}
 #div2{
   background:{
     image:url("a.jpg");
     size:cover;
     position: left,center;
   }
   border: {
     top:{
       color: #0086b3;
       style:solid;
       width: 20px;
     }
   }
 }
 #{$color }{
   #{$color }:url("..")
 }
#div1 {
  font-size: 16px;
  a{
    width: 10px;
    &:hover{
      color: #55a532;
    }
  }
}
/*mixin混合*/
@mixin xx ($size,$color:#ccc){
  width: $size;
  height: $size;
  background: $color;
}